<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Activity</title>
</head>

<body>
	<h1>So you want a random activity? Here's one straight from your MongoDB Database!</h1>
    <div>
		<strong>Name: </strong><%- name %><br>
		<strong>Duration: </strong><%- time %><br>
		<strong>Instructions:</strong><br>
		<%- instruction %>
		<br>
	</div>
    <hr>
    <a href='/'>Home</a>
</body>

</html>